.about-me .top,.about-me .bot{
	display:flex;
}

.about-me .top>div:first-child{
	width:200px;
	height:200px;
	border-right:1px solid #ccc;
}

.about-me .top img{
	display:block;
	margin:25px auto 0 !important;
	width:150px;
	height:150px;
	border:3px solid #ccc;
	border-radius:160px;
}

.about-me .top>div:last-child{
	flex:1;
	padding-left:30px;
}
.about-me .top p{
	text-indent:2em;
}

.about-me .bot>div:first-child{
	flex:1;
	border-right:1px solid #ccc;
}

.about-me .bot>div:last-child{
	width:270px;
	padding-left:30px;
}

.about-me .bot .title{
	font-weight:bold;
	font-size:18px;
}

.aplayer.aplayer-fixed .aplayer-lrc{
	display:none!important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
	width:400px !important;
}